<footer>
        <div class="footer-menu">
            <div class="footer-menu__item">
                <ul>
                    <p>Контакты:</p>
                    <li>8 (989) 182-14-27</li>
                    <li>г.Йошкар-Ола<br>ул.Дзержинская 18</li>
                    <li>info@sportpit.net</li>
                </ul>
            </div>
            <div class="footer-menu__item">
                <ul>
                    <p>Компания:</p>
                    <li><a href="">О компании</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="">Сатьи</a></li>
                    <li><a href="">Магазины</a></li>
                </ul>
            </div>
            <div class="footer-menu__item">
                <ul>
                    <p>Покупателям:</p>
                    <li><a href="">Доставка</a></li>
                    <li><a href="">Оплата</a></li>
                    <li><a href="">Обратная связь</a></li>
                    <li><a href="">Возврат товара</a></li>
                </ul>
            </div>
            <div class="footer-menu__item">
                <ul>
                    <p>Сотрудничество:</p>
                    <li><a href="">Брендам</a></li>
                    <li><a href="">Поставщикам</a></li>
                    <li><a href="">Реклама</a></li>
                </ul>
            </div>
        </div>
    </footer>